.room {
    width: 30rem;
    height: 30rem;
    background-color: #082E60;
    position: relative;
    left: 30%;
    margin: 50px 0;

    .window {
        width: 15rem;
        height: 15rem;
        background-color: #82BBDA;
        position: relative;
        left: 50%;
        border: 4px solid gray;
        cursor: pointer;

        &.active {
            background-color: black;
        }

        &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 100%;
            background-color: gray;
            left: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: gray;
            top: 50%;
            left: 1px;
        }

        i{
            display: none;
            position: relative;
            color: white;
            &.point {
                display: block;
            }
                &:nth-child(1) {
                    position: absolute;
                    top: 10%;
                    left: 10px;
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 30%;
                    left: 50px;
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 60%;
                    left: 90px;
                }

                &:nth-child(4) {
                    position: absolute;
                    top: 70%;
                    left: 30px;
                }

                &:nth-child(5) {
                    position: absolute;
                    top: 70%;
                    left: 10rem;
                }

                &:nth-child(6) {
                    position: absolute;
                    top: 60%;
                    left: 13rem;
                }

                &:nth-child(7) {
                    position: absolute;
                    top: 25%;
                    left: 9rem;
                }

                &:nth-child(8) {
                    position: absolute;
                    top: 12%;
                    left: 13rem;
                }
        }
    }

    .picture {
        cursor: pointer;
        width: 6rem;
        height: 5rem;
        background-color: bisque;
        position: relative;
        top: -40%;
        left: 5%;
        border: 4px solid rgba(0, 0, 255, 0.708);

        i {
            font-size: 17px;
            position: relative;
            left: 5px;
        }

        .building {
            width: 3rem;
            height: 3rem;
            background-color: grey;

            &.point {
                background-color: rgb(220, 181, 241);
            }

        }

        .greybuild {
            width: 30px;
            height: 7px;
            background-color: grey;
            position: relative;
            bottom: 30px;
            left: 40px;

            &.point {
                background-color: rgb(220, 181, 241);
            }
        }

        .violetbuild {
            width: 39px;
            height: 22px;
            background-color: rgb(220, 181, 241);
            position: relative;
            bottom: 30px;
            left: 48px;

            &.point {
                background-color: grey;
            }
        }
    }

    .table {
        width: 100%;
        height: 11px;
        background-color: brown;

        i {
            position: relative;
            bottom: 2rem;
            left: 75%;
            font-size: 2rem;
        }
    }

    .computer {
        width: 30%;
        height: 20%;
        background-color: rgb(220, 181, 241);
        border: 10px solid gray;
        position: relative;
        bottom: 33%;
        left: 30%;
        cursor: pointer;

        p {
            display: none;
            padding: 5px 25px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            font-style: italic;

            &.active {
                display: block;
            }
        }
    }

    .branch1 {
        width: 5rem;
        height: 7px;
        background-color: gray;
        position: relative;
        bottom: 27%;
        left: 36%;
    }

    .branch2 {
        width: 2rem;
        height: 2rem;
        background-color: gray;
        position: relative;
        bottom: 35%;
        left: 41%;
    }

    .led-lampa {
        .bottom {
            width: 15%;
            height: 7px;
            background-color: #57AB23;
            position: absolute;
            bottom: 33%;
            left: 20px;
        }

        .medium1 {
            position: absolute;
            width: 8%;
            height: 6px;
            background-color: gray;
            bottom: 37%;
            left: 15px;
            transform: rotate(52deg);
        }

        .medium2 {
            position: absolute;
            width: 8%;
            height: 6px;
            background-color: gray;
            bottom: 42%;
            left: 15px;
            transform: rotate(-52deg);
        }

        .top {
            width: 300px;
            height: 300px;
            background-color: #57AB23;
            clip-path: circle(5% at 50% 3%);
            transform: rotate(120deg);
            position: absolute;
            bottom: 141px;
            left: -14rem;
        }

        .circle {
            width: 300px;
            height: 300px;
            background-color: yellow;
            clip-path: circle(2% at 50% 100%);
            transform: rotate(120deg);
            position: absolute;
            bottom: -9px;
            left: 35px;
            display: none;

            &.active {
                display: block;
            }
        }

        .point {
            cursor: pointer;
            width: 35px;
            height: 35px;
            background-color: black;
            clip-path: circle(17.3% at 50% 100%);
            position: absolute;
            bottom: 10.3rem;
            left: 50px;
        }
    }
}